<script type="text/javascript" src="/js/utils/v11-jquery.min.js"></script>
<script type="text/javascript" src="/js/utils/core.js"></script>
<script type="text/javascript" src="/js/cabina.js"></script>
<link rel="stylesheet" type="text/css" href="/css/cabina.css">

<section class="view cabina">
<section class="view-header clearfix">
	<div class="view-titulo">
		<span class="fa-navicon"></span>
		<span>Cabina</span>
	</div>
	<div class="view-acciones">
		<span class="fa-refresh"></span>
		<span class="fa-times"></span>
	</div>
	<div class="div-busqueda">
		<div class="input-busqueda clearfix">
			<input class="busqueda" enter="buscar_cabina()" type="textbox" placeholder="Busqueda" controller="/cabina/buscar"></input>
			<span class="fa-search"></span>
		</div>
	</div>
</section>
	<section class="view-body">
		<div class="view-body-content">
		<div class="view-cabina-content">
			<input id="txt-nombreCabina" type="text" placeholder="Nombre de la cabina">
		</div>
	</section>
<section class="view-footer clearfix">
	<div class="botones">
		<button id="btn-guardarCabina" class="btn btn-blue">Guardar</button>
		<button class="btn btn-red">Cancelar</button>
	</div>
</section>
</section>
