<script type="text/javascript" src="/js/utils/v11-jquery.min.js"></script>
<script type="text/javascript" src="/js/utils/core.js"></script>
<script type="text/javascript" src="/js/cliente.js"></script>
<link rel="stylesheet" type="text/css" href="/css/cliente.css">

<section class="view cliente">
<section class="view-header clearfix">
	<div class="view-titulo">
		<span class="fa-flag"></span>
		<span>Clientes</span>
	</div>
	<div class="view-acciones">
		<span class="fa-refresh"></span>
		<span class="fa-minus"></span>
		<span class="fa-times"></span>
	</div>
</section>
	<section class="view-body">
		<div class="div-busqueda">
			<div class="input-busqueda clearfix">
				<span class="fa-search"></span>
				<input class="busqueda" enter="buscar_cliente()" type="textbox" placeholder="Busqueda" controller="/cliente/buscar"></input>
			</div>
		</div>
		<div class="view-cliente-content">
			<input id="txt-nombreCliente" type="text" placeholder="Nombre del cliente">
			<input id="txt-fechaNacimiento" type="text" placeholder="Fecha Nacimiento">
			<input id="txt-telefono" type="text" placeholder="Telefono">
			<input id="txt-direccion"type="text" placeholder="Direccion">
		</div>
	</section>
<section class="view-footer clearfix">
	<div class="botones">
		<button id="btn-guardarCliente" class="btn btn-blue">Guardar</button>
		<button class="btn btn-red">Cancelar</button>
	</div>
</section>
</section>
