<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login |Hotel</title>
	<script type="text/javascript" src="/js/utils/v11-jquery.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<section class="login">
		<div class="login-contenido">
			<div class="login-cabezero">
				<div class="login-icono">
					<span class="fa-user"></span>
				</div>
				<div class="login-bienvenida">
					<h1 class="animated">¡Bienvenido!</h1>	
				</div>
				<div class="login-inputs">
					<input type="textbox" placeholder="Usuario"></input>
				</div>
			</div>
		</div>
	</section>
</body>
</html>