<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Login |Hotel</title>
	<script type="text/javascript" src="/js/utils/v11-jquery.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<section class="login animate">
		<div class="login-header">
			<div class="login-icono">
				<span class="fa-user"></span>
			</div>
			<div class="login-bienvenida">
				<h1 class="animated">¡Bienvenido!</h1>	
			</div>
		</div>
		<div class="login-body">
			<div class="login-inputs">
				<input id="txt-usuario" type="textbox" placeholder="Usuario"></input>
				<input id="txt-contrasena" type="password" placeholder="Contraseña"></input>
			</div>
		</div>
		<div class="login-footer">
			<button id="btn-entrar" class="btn btn-default">Entrar</button>
		</div>
	</section>
</body>
</html>