<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Pragma" content="no-cache" />

	<title>Menu | <%= title %></title>
	<script type="text/javascript" src="/js/utils/v11-jquery.min.js"></script>
	<script type="text/javascript" src="/js/utils/core.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<script type="text/javascript">
		if(history.forward(1))
			location.replace(history.forward(1))
	</script>
</head>
<body>
	<section class="global">
		<nav id="menu" class="animated delay">
			<span class="close">&times;</span>
			<div>
				<ul id="menu-contenido">
					<!-- menu items -->
					<li class="menu-items">
						<!-- item contenido -->
						<div class="item-contenido">
							<span class="fa-home"></span>
							<span class="item-nombre">Inicio</span>
						</div>
					</li>
					<li class="menu-items">
						<div class="item-contenido">
							<span class="fa-cogs"></span>
							<span class="item-nombre">Configuracion</span>
						</div>
					</li>
					<li class="menu-items">
						<div id="clientes" class="item-contenido" controller="/clientes">
							<span class="fa fa-flag"></span>
							<span class="item-nombre">Clientes</span>
							<span class="fa-angle-down flecha"></span>
						</div>
					</li>
					<li class="menu-items">
						<div class="item-contenido" id="btn-salir">
							<span class="fa-sign-out"></span>
							<span class="item-nombre">Salir</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<section id="views">

		</section>

	</section>
</body>
</html>