/*=============================
	CSS con Estilos Generales
  =============================*/
@import url("style.css");

/*  --------------------------  */

body
{
	background-image: url('/img/background-login.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.login
{
	position: absolute;
	top: 20%;
	right: 9%;
	width: 350px;
	color:#888;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.66);
}
.login-header
{
	padding: 10px 0;
}
.login-header:after
{
	content: '';
	display: table;
	clear: both;
}
.login-header div{
	float: left;
}
.login-icono 
{
    width: 29.99%;
   
    text-align: center;
}
.login-icono span 
{
    font-size: 50px;
    color:#666;
}
.login-bienvenida 
{
    font-family: 'Lato';
    font-size: 23px;
    width: 69.999%;
}
.login-body
{
	padding: 10px;
}
.login-inputs input
{
	display: table;
	margin: 10px auto;
	width: 70%;
}

@media screen and (max-width:540px){
    .login
    {
    	width: 100%;
    	right: 0;
    }

}
@media screen and (max-width:320px){
    .login-icono 
	{
		display: none;
	}
	.login-bienvenida 
	{
		float: none;
		width: 100%;
		text-align: center;
	}

}